<?xml version="1.0"?>
<launch>

	<arg name="input_map" default="/map_points" doc="" />
	<arg name="nodelet_manager" default="map_manager" doc="" />
	<arg name="centroids_poses_topic" default="~centroid_pose_array" />

	<node name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" output="screen" args="manager" />

	<!-- filter -->
	<node name="map_downsampling" pkg="nodelet" type="nodelet" args="load pcl/VoxelGrid $(arg nodelet_manager)">
		<remap from="~input" to="$(arg input_map)" />
		<remap from="~output" to="$(arg input_map)_filtered" />
		<param name="filter_field_name" value="z" />
		<param name="leaf_size" value="0.1" />
		<param name="filter_limit_min" value="-100" />
		<param name="filter_limit_max" value="100" />
	</node>

	<!-- Euclidean clustering -->
	<node name="clustering" pkg="nodelet" type="nodelet" args="load jsk_pcl/EuclideanClustering $(arg nodelet_manager)">
		<remap from="~input" to="$(arg input_map)_filtered" />
		<param name="tolerance" value="0.6" />
		<param name="min_size" value="80" />
	</node>
	<!-- decompose -->
	<node name="cluster_decomposer" pkg="nodelet" type="nodelet" args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg nodelet_manager)">
		<remap from="~input" to="$(arg input_map)_filtered" />
		<remap from="~target" to="/clustering/output" />
		<remap from="~centroid_pose_array" to="$(arg centroids_poses_topic)"/>
		<param name="publish_clouds" value="true" />
	</node>

	<node name="find_circles" pkg="nodelet" type="nodelet" output="screen" args="load soma_perception/MultipleDiameterEstimationNodelet $(arg nodelet_manager)">
		<param name="base_link" value="base_link" />
		<!-- Maximum 7 trees in the lidar visibility scope at once (what to do if more ? make visibility scope smaller ?) -->
		<remap from="clusters_num_topic" to="/clustering/cluster_num" />
		<remap from="input_points0" to="/cluster_decomposer/output00" />
		<remap from="input_points1" to="/cluster_decomposer/output01" />
		<remap from="input_points2" to="/cluster_decomposer/output02" />
		<remap from="input_points3" to="/cluster_decomposer/output03" />
		<remap from="input_points4" to="/cluster_decomposer/output04" />
		<remap from="input_points5" to="/cluster_decomposer/output05" />
		<remap from="input_points6" to="/cluster_decomposer/output06" />
	</node>

</launch>
