<?xml version="1.0"?>
<launch>
	<!-- arguments -->
	<arg name="file" default="$(find soma_mapping)/data/tree_extracted_map.pcd" />
	<arg name="interval" default="1.0" />
	<arg name="frame_id" default="map" />
	<arg name="output" default="map_points" doc="" />
	<arg name="name" default="" />
	<!-- run pcd publihser node -->
	<node name="pcd_publisher" pkg="pcl_ros" type="pcd_to_pointcloud" args="$(arg file) $(arg interval)">
		<param name="frame_id" value="$(arg frame_id)" />
		<remap from="cloud_pcd" to="$(arg output)" />
	</node>
</launch>
