<!-- Controllers launcher -->

<launch>
    <!-- Arguments -->
    <arg name="namespace" default="/"/>
    <arg name="driving_gui" default="true"/>
    <arg name="motor_noise_list" default="[[0.0,0.0],[0.0,0.0]]"/>

    <!-- Launch controllers (joint state & driving) -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="$(arg namespace)" args="joint_state_controller ackermann_steering_controller"/>

    <!-- Launch driving GUI -->
    <node if="$(arg driving_gui)" name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="$(arg namespace)ackermann_steering_controller/command" />
    </node>

    <!-- Launch motor noise emulator -->
    <node name="motor_noise" pkg="soma_description" type="motor_noise_node.py" args="$(arg motor_noise_list)" output="screen" />
</launch>