<!-- Rviz launcher -->

<launch>
	<!-- Arguments -->
	<arg name="model" default="$(find soma_description)/urdf/soma.urdf.xacro" />
	<arg name="rvizconfig" value="$(find soma_description)/rviz/simulation.rviz" />
	<arg name="joints_gui" default="true" />

	<!-- Robot model -->
	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

	<!-- Launch Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

	<!-- Joint state control -->
	<node if="$(arg joints_gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg joints_gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="publish_frequency" value="50.0" />
	</node>
</launch>
