<?xml version="1.0"?>
<launch>

	<!-- Arguments -->
	<arg name="model" default="$(find soma_description)/urdf/test.urdf.xacro" />
	<arg name="world_model" default="simple3.world" />
	<arg name="namespace" default="/test" />
	<arg name="rvizconfig" default="$(find soma_description)/rviz/simulator.rviz" />
	<arg name="gazebo" default="true" /> 
	<arg name="gui_rviz" default="true" />
	<arg name="gui_gazebo" default="true" />
	<arg name="steering" default="true" />

	<group ns="$(arg namespace)">

		<!-- Gazebo -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="use_sim_time" value="true" />
			<arg name="gui" value="$(arg gui_gazebo)" />
			<arg name="world_name" value="$(arg world_model)" />
			<arg name="paused" value="false"/>
		</include>

		<!-- Parameters -->
		<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

		<rosparam command="load" file="$(find soma_description)/config/joint_state_controller.yaml" ns="$(arg namespace)" />
		<rosparam command="load" file="$(find soma_description)/config/ackermann_steering_controller.yaml" ns="$(arg namespace)" />
		<rosparam command="load" file="$(find soma_description)/config/gains.yaml" ns="$(arg namespace)" />
		<!--rosparam command="load" file="$(find soma_description)/config/diff_drive_controller.yaml" /-->
		<!--rosparam command="load" file="$(find soma_description)/config/wheel_rotate_velocity_controller.yaml" /-->
		<!--rosparam command="load" file="$(find soma_description)/config/wheel_hinge_position_controller.yaml" /-->

		<!-- Nodes -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" ns="$(arg namespace)"
			args="joint_state_controller ackermann_steering_controller"
			output="screen" respawn="false" />

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
			<param name="publish_frequency" value="50.0" />
		</node>

		<node name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
			<param name="default_topic" value="$(arg namespace)/ackermann_steering_controller/cmd_vel" />
		</node>
		<!-- <node name="keyboard_control" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" /> -->

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
			args="-z 0.2 -urdf -param robot_description -model test -gazebo_namespace /$(arg namespace)/gazebo"
			respawn="false" output="screen" />


		<!-- Rviz -->
		<node if="$(arg gui_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

	</group>
	
</launch>
