<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="prefix" default="/home/soma1/" />
  <arg name="is_lidar_topics" default="true" doc="" />
  <arg name="is_camera_topics" default="true" doc="" />
  <arg name="is_imu_topics" default="true" doc="" />
  <arg name="is_motor_topics" default="true" doc="" />
  <arg name="is_odom_topics" default="true" doc="" />
  <arg name="add_topics" default="" />
  <!--
	topic settings
	...
	-->
  <!-- lidar topics -->
  <arg name="lidar_topics" default="/velodyne_points" if="$(arg is_lidar_topics)" />
  <arg name="lidar_topics" default="" unless="$(arg is_lidar_topics)" />
  <!-- rgbd camera topics -->
  <arg name="rgb_image_topics" default="/rgb/image_raw " />
  <arg name="depth_image_topics" default="/depth_to_rgb/image_raw" />
  <arg name="camera_info_topics" default="/deth_to_rgb/camera_info /rgb/camera_info" />
  <!-- <arg name="points_topics" default=" /d400/prefiltered" /> -->
  <arg name="camera_topics" default="$(arg rgb_image_topics) $(arg depth_image_topics) $(arg camera_info_topics)" if="$(arg is_camera_topics)" />
  <arg name="camera_topics" default="" unless="$(arg is_camera_topics)" />
  <!-- IMU topics -->
  <arg name="imu_topics" default="/imu/data" if="$(arg is_imu_topics)" />
  <arg name="imu_topics" default="" unless="$(arg is_imu_topics)" />
  <!-- motor state topics -->
  <arg name="motor_topics" default="/maxon_bringup/steering/get_state /maxon_bringup/rear_brake/get_state /maxon_bringup/front_brake/get_state /maxon_bringup/throttle/get_state" if="$(arg is_motor_topics)" />
  <arg name="motor_topics" default="" unless="$(arg is_motor_topics)" />
  <!-- Odometry topics -->
  <!-- <arg name="odom_topics" default="/vodom /odom" doc="" /> -->
  <arg name="odom_topics" default="/move_base/global_costmap/costmap /move_base/TebLocalPlannerROS/global_plan /move_base/TebLocalPlannerROS/local_plan /move_base/status /move_base/result /ekf/gps_imu_odom /teleop/cmd_vel /soma/wheel_vel /soma/wheel_vel_new /soma/wheel_vel_filtered2 /soma/steering_angle /fix/gps /odometry/filtered/global /odometry/filtered/local /odometry/gps" doc="" />
  <!-- <arg name="odom_topics" default="/teleop/cmd_vel /soma/wheel_vel /soma/wheel_vel_new /soma/wheel_vel_filtered2 /soma/steering_angle /fix/gps" doc="" /> -->
  <!-- soma topics -->
  <arg name="soma_topics" default="/soma /soma/status tf tf_static" />
  <!-- odom topics -->
  <!-- <arg name="odom_topics" default="/soma/steering_angle /soma/wheel_odom /soma/wheel_vel /soma/wheel_vel_new /soma/wheel_vel_filtered2 /soma/steering_angle" if="$(arg is_odom_topics)" /> -->
  <!-- <arg name="odom_topics" default="" unless="$(arg is_odom_topics)" /> -->
  <!-- marge topics -->
  <arg name="topics" default="$(arg lidar_topics) $(arg camera_topics) $(arg odom_topics) $(arg soma_topics) $(arg imu_topics) $(arg motor_topics)" />
  <!--  -->
  <!--
	Run logging
	...
	-->
  <node pkg="rosbag" type="record" name="soma_logging" output="screen" args="-o $(arg prefix) $(arg topics) $(arg add_topics)">
  </node>
</launch>