<?xml version="1.0"?>
<launch>
	<arg name="prefix" default="/home/soma1/constant_vel_exp" />
	<arg name="is_lidar_topics" default="true" doc="" />
	<arg name="is_camera_topics" default="true" doc="" />
	<arg name="is_imu_topics" default="true" doc="" />
	<arg name="is_motor_topics" default="true" doc="" />
	<arg name="add_topics" default=""/>

	<!--  -->
	<!--  -->
	<!-- lidar topics -->
	<arg if="$(arg is_lidar_topics)" name="lidar_topics" default="/velodyne_points /filtered_points" doc="" />
	<arg unless="$(arg is_lidar_topics)" name="lidar_topics" default="" doc="" />
	<!-- camera topics -->
	<arg if="$(arg is_camera_topics)" name="camera_topics" default="/camera_f/color/image_raw /camera_f/color/camera_info /camera_f/depth/image_rect_raw /camera_f/aligned_depth_to_color/image_raw /camera_f/depth/camera_info /depth/color/points /color/image_raw /depth/image_rect_raw /color/camera_info /depth/camera_info" />
	<arg unless="$(arg is_camera_topics)" name="camera_topics" default="" />
	<!-- IMU topics -->
	<arg if="$(arg is_imu_topics)" name="imu_topics" default="/imu/data" doc="" />
	<arg unless="$(arg is_imu_topics)" name="imu_topics" default="" doc="" />
	<!-- motor state topics -->
	<arg if="$(arg is_motor_topics)" name="motor_topics" default="/maxon_bringup/steering/get_state /maxon_bringup/rear_brake/get_state /maxon_bringup/front_brake/get_state /maxon_bringup/throttle/get_state" />
	<arg unless="$(arg is_motor_topics)" name="motor_topics" default="" />
	<!-- Odometry topics -->
	<arg name="odom_topics" default="/soma/wheel_odom /lidar_odom /vodom" doc="" />
	<!-- marge topics -->
	<arg name="topics" default="$(arg lidar_topics) $(arg camera_topics) $(arg imu_topics) $(arg motor_topics) $(arg odom_topics) /soma/wheel_vel /soma/status tf tf_static" />
	<!--  -->
	<!--  -->
	<!-- Run logging -->
	<node pkg="rosbag" type="record" name="soma_logging" output="screen" args="-o $(arg prefix) $(arg topics) $(arg add_topics)">
	</node>
</launch>
