<?xml version="1.0"?>
<launch>
	<arg name="input" default="/height_clip/output" doc="" />
	<arg name="prefix" default="/home/hayashi/filtered_map" doc="" />
	<arg name="frame_id" default="map" doc="" />
	<arg name="duration" default="1" doc="" />
	<node name="pointcloud2pcd" pkg="nodelet" type="nodelet" output="screen" args="standalone jsk_pcl_utils/PointCloudToPCD nodelet_manager">
		<remap from="~input" to="$(arg input)" />
		<param name="prefix" value="$(arg prefix)" />
		<param name="fixed_frame" value="$(arg frame_id)" />
		<param name="duration" value="$(arg duration)" />
	</node>
</launch>
