<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dtw_robot">
	
	<!-- Include files -->
	<include filename="$(find soma_mse)/xacro/movebase_macro.xacro" />
	<include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
	
	<!-- Empty link to use Gazebo -->
	<link name="base_link" />

	<!-- Use macros -->
	<body_macro parent="base_link" />
	<wheel_macro parent="base_link" prefix="left_wheel" xyz="0.2 0.3 0.2" />
	<wheel_macro parent="base_link" prefix="right_wheel" xyz="0.2 -0.3 0.2" />
	<imu_macro parent="base_link" />

	<!-- Build Velodyne -->
	<VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points">
		<origin parent="base_link" xyz="0.25 0.0 0.7" rpy="0.0 0.0 0.0" />
	</VLP-16>

	<!-- Build Realsense -->
	<!-- Front -->
	<realsense_macro parent="base_link" prefix="f">
		<origin xyz="0.85 0.1 0.61" rpy="0.0 0.0 0.0" />
	</realsense_macro>
	<sensor_d435 parent="camera_f_mount_link" name="camera_f">
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.2617 0.0" />
	</sensor_d435>
	<!-- Rear -->
	<realsense_macro parent="base_link" prefix="r">
		<origin xyz="-0.2 0.0 0.35" rpy="0.0 0.0 -3.1415" />
	</realsense_macro>
	<sensor_d435 parent="camera_r_mount_link" name="camera_r">
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.2617 0.0" />
	</sensor_d435>

	<!-- Gazebo ROS control -->
	<gazebo>

		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>
				/dtw_robot
			</robotNamespace>
			<robotSimType>
				gazebo_ros_control/DefaultRobotHWSim
				<robotSimType>
					<legacyModeNS>
						true
					</legacyModeNS>
				</robotSimType>
			</robotSimType>
		</plugin>

    	<plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      		<alwaysOn>true</alwaysOn>
      		<bodyName>base_footprint</bodyName>
      		<topicName>imu</topicName>
      		<serviceName>imu_service</serviceName>
      		<gaussianNoise>0.0</gaussianNoise>
      		<updateRate>20.0</updateRate>
    	</plugin>
		
  	</gazebo>

</robot>
