<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soma">

	<!-- Include files -->
	<include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
	<include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />

	<!-- IMU macro -->
	<macro name="imu_macro" params="parent *origin">

		<!-- General properties used for inertia computation -->
		<property name="mass" value="0.2" />
		<property name="width" value="0.05" />
		<property name="depth" value="0.05" />
		<property name="height" value="0.025" />

		<!-- Joint -->
		<joint name="imu_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="imu_link" />
		</joint>

		<!-- Link -->
		<link name="imu_link">

			<!-- Inertial part -->
			<inertial>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
				<mass value="${mass}" />

				<!-- Inertia matrix of a parallelepiped -->
				<inertia ixx="${mass / 12 * (depth ** 2 + height ** 2)}" ixy="0.0" ixz="0.0" iyy="${mass / 12 * (width ** 2 + height ** 2)}" iyz="0.0" izz="${mass / 12 * (width ** 2 + depth ** 2)}" />
			</inertial>

			<!-- Visual part -->
			<visual>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
				<geometry>
					<box size="${width} ${depth} ${height}" />
				</geometry>
				<material name="red" />
			</visual>

			<!-- Collision part -->
			<collision>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
				<geometry>
					<box size="${width} ${depth} ${height}" />
				</geometry>
			</collision>

		</link>
		<!-- END link -->

		<!-- Gazebo additional parameters -->
		<gazebo reference="imu_link">
			<material>
				Gazebo/Red
			</material>
			<gravity>true</gravity>
			<sensor name="imu_sensor" type="imu">
				<always_on>true</always_on>
				<update_rate>100</update_rate>
				<visualize>true</visualize>
				<topic>__default_topic__</topic>
				<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
					<topicName>imu</topicName>
					<bodyName>imu_link</bodyName>
					<updateRateHZ>10.0</updateRateHZ>
					<gaussianNoise>0.0</gaussianNoise>
					<xyzOffset>0 0 0</xyzOffset>
					<rpyOffset>0 0 0</rpyOffset>
					<frameName>imu_link</frameName>
					<initialOrientationAsReference>false</initialOrientationAsReference>
				</plugin>
				<pose>0 0 0 0 0 0</pose>
			</sensor>
		</gazebo>

	</macro>
	<!-- END IMU macro -->


	<!-- Realsense macro -->
	<macro name="realsense_macro" params="parent prefix *origin">

		<link name="camera_${prefix}_mount_link" />

		<joint name="camera_${prefix}_mount_joint" type="fixed">
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="camera_${prefix}_mount_link" />
		</joint>

		<sensor_d435 parent="camera_${prefix}_mount_link" name="camera_${prefix}" topics_ns="camera_${prefix}">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.2617 0.0" />
		</sensor_d435>

	</macro>
	<!-- END Realsense macro -->


	<!-- Velodyne macro -->
	<macro name="velodyne_macro" params="parent *origin">
		<VLP-16 parent="${parent}" name="velodyne" topic="/velodyne_points">
			<insert_block name="origin" />
		</VLP-16>
	</macro>
	<!-- END Velodyne macro -->

</robot>
