<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soma">

	<xacro:property name="camera_enabled" value="true"/>
	<xacro:property name="lidar_enabled" value="true"/>
	<xacro:property name="imu_enabled" value="true"/>

	<!-- Include files -->
	<xacro:if value="${camera_enabled}">
		<xacro:include filename="$(find soma_description)/urdf/intel_realsense.urdf.xacro"/>
		<xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro"/>
		<!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" /> -->
	</xacro:if>
	<xacro:if value="${lidar_enabled}">
		<xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
	</xacro:if>

	<!-- IMU macro -->
	<xacro:if value="${imu_enabled}">
		<xacro:macro name="imu_macro" params="parent *origin">

			<!-- General properties used for inertia computation -->
			<xacro:property name="mass" value="0.2" />
			<xacro:property name="width" value="0.05" />
			<xacro:property name="depth" value="0.05" />
			<xacro:property name="height" value="0.025" />

			<!-- Joint -->
			<joint name="imu_joint" type="fixed">
				<xacro:insert_block name="origin" />
				<parent link="${parent}" />
				<child link="imu" />
			</joint>

			<!-- Link -->
			<link name="imu">

				<!-- Inertial part -->
				<inertial>
					<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
					<mass value="${mass}" />

					<!-- Inertia matrix of a parallelepiped -->
					<inertia ixx="${mass / 12 * (depth ** 2 + height ** 2)}" ixy="0.0" ixz="0.0" iyy="${mass / 12 * (width ** 2 + height ** 2)}" iyz="0.0" izz="${mass / 12 * (width ** 2 + depth ** 2)}" />
				</inertial>

				<!-- Visual part -->
				<visual>
					<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
					<geometry>
						<box size="${width} ${depth} ${height}" />
					</geometry>
					<material name="red" />
				</visual>

				<!-- Collision part -->
				<collision>
					<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
					<geometry>
						<box size="${width} ${depth} ${height}" />
					</geometry>
				</collision>

			</link>
			<!-- END link -->

			<!-- Gazebo additional parameters -->
			<!-- <gazebo reference="imu_link">
				<material>
					Gazebo/Red
				</material>
				<gravity>true</gravity>
				<sensor name="imu_sensor" type="imu">
					<always_on>true</always_on>
					<update_rate>100</update_rate>
					<visualize>true</visualize>
					<topic>__default_topic__</topic>
					<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
						<topicName>imu</topicName>
						<bodyName>imu_link</bodyName>
						<updateRateHZ>10.0</updateRateHZ>
						<gaussianNoise>0.0</gaussianNoise>
						<xyzOffset>0 0 0</xyzOffset>
						<rpyOffset>0 0 0</rpyOffset>
						<frameName>imu_link</frameName>
						<initialOrientationAsReference>false</initialOrientationAsReference>
					</plugin>
					<pose>0 0 0 0 0 0</pose>
				</sensor>
			</gazebo> -->

		</xacro:macro>
	</xacro:if>
	<!-- END IMU macro -->


	<!-- Realsense macro -->
	<xacro:if value="${camera_enabled}">
		<xacro:macro name="camera_macro" params="parent prefix *origin">

			<link name="camera_${prefix}_mount_link" />

			<joint name="camera_${prefix}_mount_joint" type="fixed">
				<xacro:insert_block name="origin" />
				<parent link="${parent}" />
				<child link="camera_${prefix}_mount_link" />
			</joint>

			<!-- <xacro:sensor_d435 parent="camera_${prefix}_mount_link" name="camera_${prefix}">
				<origin xyz="0.0 0.0 0.0" rpy="0.0 0.2617 0.0" />
			</xacro:sensor_d435> -->

			<xacro:intel_realsense_mount prefix="${prefix}" parent_link="camera_${prefix}_mount_link" topic="camera_${prefix}" />
		</xacro:macro>
	</xacro:if>
	<!-- END Realsense macro -->

	<!-- Azure macro -->
	<xacro:if value="${camera_enabled}">
		<xacro:macro name="azure_macro" params="parent prefix *origin">

			<!-- <link name="azure_base" /> -->

			<joint name="soma_azure_joint" type="fixed">
				<xacro:insert_block name="origin" />
				<parent link="${parent}" />
				<child link="camera_base" />
			</joint>
		</xacro:macro>
	</xacro:if>
	<!-- END Azure macro -->

	<!-- Velodyne macro -->
	<xacro:if value="${lidar_enabled}">
		<xacro:macro name="velodyne_macro" params="parent *origin">
			<!-- <xacro:VLP-16 parent="${parent}" name="velodyne" topic="/velodyne_points" min_range="0.0" max_range="5.0" noise="0.0"> -->
			<xacro:VLP-16 parent="${parent}" name="velodyne" topic="/velodyne_points" min_range="0.9" max_range="130.0" noise="0.008">
				<xacro:insert_block name="origin" />
			</xacro:VLP-16>
		</xacro:macro>
	</xacro:if>
	<!-- END Velodyne macro -->

</robot>
