<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soma">

	<xacro:property name="sensors_enabled" value="true"/>

	<!-- Include files -->
	<xacro:include filename="$(find soma_description)/urdf/ackermann_macro.xacro" />
	<xacro:if value="${sensors_enabled}">
		<xacro:include filename="$(find soma_description)/urdf/sensors_macro.xacro" />
	</xacro:if>

	<!-- Empty link to use Gazebo -->
	<link name="base_link" />

	<!-- Build Ackermann movebase -->
	<xacro:ackermann_macro parent="base_link" />

	<xacro:if value="${sensors_enabled}">
		<!-- Build IMU -->
		<xacro:if value="${imu_enabled}">
			<xacro:imu_macro parent="body_bottom_link">
				<origin xyz="${-0.525 + 0.05/2} 0.0 ${1.40 - 0.25 + 0.025/2}" rpy="0.0 0.0 0.0" />
			</xacro:imu_macro>
		</xacro:if>
		<!-- Build GPS -->
		<xacro:if value="${imu_enabled}">
			<xacro:gps_macro parent="body_bottom_link">
				<origin xyz="${-0.525 + 0.05*2} 0.0 ${1.40 - 0.25 + 0.025/2}" rpy="0.0 0.0 0.0" />
			</xacro:gps_macro>
		</xacro:if>
		<!-- Build Realsense -->
		<!-- Front -->
		<xacro:if value="${camera_enabled}">
			<xacro:camera_macro parent="body_bottom_link" prefix="f">
				<origin xyz="0.325 0.0 ${1.10 - 0.25}" rpy="0.0 0.0 0.0" />
			</xacro:camera_macro>
		</xacro:if>
		<!-- Rear -->
		<xacro:if value="${camera_enabled}">
			<xacro:camera_macro parent="body_bottom_link" prefix="r">
				<origin xyz="-0.525 0.0 ${1.10 - 0.25}" rpy="0.0 0.0 ${-pi}" />
			</xacro:camera_macro>
		</xacro:if>
		<!-- Build Realsense -->
		<xacro:if value="${camera_enabled}">
			<xacro:azure_macro parent="body_bottom_link" prefix="f">
				<origin xyz="0.325 0.0 ${1.10 - 0.25}" rpy="0.0 0.0 0.0" />
			</xacro:azure_macro>
		</xacro:if>
		<!-- Build Velodyne -->
		<xacro:if value="${lidar_enabled}">
			<xacro:velodyne_macro parent="body_bottom_link">
				<origin xyz="0.075 0.0 ${1.70 - 0.25}" rpy="0.0 0.0 0.0" />
			</xacro:velodyne_macro>
		</xacro:if>
	</xacro:if>

	<!-- Gazebo plugins -->
	<gazebo>
		<!-- Load ros_control plugin using the steer_bot_hardware_gazebo
   		implementation of the hardware_interface::RobotHW -->
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>steer_bot_hardware_gazebo/SteerBotHardwareGazebo</robotSimType>
			<!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>

</robot>
