<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soma">

	<property name="sensors_enabled" value="true"/>

	<!-- Include files -->
	<include filename="$(find soma_description)/urdf/ackermann_macro.xacro" />
	<if value="${sensors_enabled}">
		<include filename="$(find soma_description)/urdf/sensors_macro.xacro" />
	</if>

	<!-- Empty link to use Gazebo -->
	<link name="base_link" />

	<!-- Build Ackermann movebase -->
	<ackermann_macro parent="base_link" />

	<if value="${sensors_enabled}">
		<!-- Build IMU -->
		<if value="${imu_enabled}">
			<imu_macro parent="body_bottom_link">
				<origin xyz="${-0.525 + 0.1 + 0.1/2} 0.0 ${1.40 - 0.25 + 0.1/2}" rpy="0.0 0.0 0.0" />
			</imu_macro>
		</if>

		<!-- Build GPS -->
		<if value="${gps_enabled}">
			<gps_macro parent="body_bottom_link">
				<origin xyz="${-0.525 + 0.3 + 0.1/2} 0.0 ${1.40 - 0.25 + 0.1/2}" rpy="0.0 0.0 0.0" />
			</gps_macro>
		</if>

		<!-- Build Realsense -->
		<!-- Front -->
		<if value="${camera_enabled}">
			<realsense_macro parent="body_bottom_link" prefix="f">
				<origin xyz="0.325 0.0 ${1.10 - 0.25}" rpy="0.0 0.0 0.0" />
			</realsense_macro>
		</if>
		<!-- Rear -->
		<if value="${camera_enabled}">
			<realsense_macro parent="body_bottom_link" prefix="r">
				<origin xyz="-0.525 0.0 ${1.10 - 0.25}" rpy="0.0 0.0 ${-pi}" />
			</realsense_macro>
		</if>

		<!-- Build Velodyne -->
		<if value="${lidar_enabled}">
			<velodyne_macro parent="body_bottom_link">
				<origin xyz="0.075 0.0 ${1.70 - 0.25}" rpy="0.0 0.0 0.0" />
			</velodyne_macro>
		</if>
	</if>

	<!-- Gazebo plugins -->
	<gazebo>
		<!-- Load ros_control plugin using the steer_bot_hardware_gazebo
   		implementation of the hardware_interface::RobotHW -->
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>steer_bot_hardware_gazebo/SteerBotHardwareGazebo</robotSimType>
			<!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>

</robot>
