<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test">

    <include filename="$(find soma_description)/urdf/utils.xacro" />

    <!-- Empty link to use Gazebo -->
	<link name="base_link" />
		
	<!-- Bottom body joint -->
	<joint name="body_joint" type="fixed">
	    <parent link="base_link" />
		<child link="body_link" />
			<origin xyz="0 0 0.5" rpy="0.0 0.0 0.0" />
    </joint>
    
    <!-- Bottom body link -->
    <link name="body_link">
        
        <!-- Inertial part -->
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <mass value="10" />
            
            <!-- Inertia matrix of a parallelepiped -->
            <parallelepiped_inertia mass="10" width="1.6" depth="0.3" height="0.2" />
            <!-- Old values: ixx = iyy = izz = 0.001 -->
        </inertial>
        
        <!-- Visual part -->
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <box size="1.6 0.3 0.2" />
            </geometry>
            <material name="red" />
        </visual>
        
        <!-- Collision part -->
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <box size="1.6 0.3 0.2" />
            </geometry>
        </collision>

    </link>
    <!-- END body link -->

    <!-- Gazebo additional parameters -->
    <gazebo reference="body_link">
        <material>
            Gazebo/Red
        </material>
    </gazebo>


    <!-- Joints -->
    <joint name="front_wheel_hinge" type="revolute"> 
        <parent link="body_link"/> 
        <child link="front_wheel_assembly"/> 
        <origin xyz="0.7 0 -0.3" rpy="0 0 0" />  
        <axis xyz="0 0 1" rpy="0 0 0" />
        <limit effort="0.4" velocity="12" lower="-1" upper="1"/>
        <dynamics damping="0.1"/> 
    </joint> 
    <!-- Initial values: effort=0.4 velocity=12 -->

    <joint name="front_wheel_rotate" type="continuous"> 
        <parent link="front_wheel_assembly"/> 
        <child link="front_wheel"/> 
        <origin xyz="0 0 0" rpy="0 0 0" />  
        <axis xyz="0 1 0" rpy="0 0 0" /> 
        <dynamics damping="0.1"/> 
    </joint>

    <!-- Transmissions -->
    <transmission name="front_wheel_hinge_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="front_wheel_hinge">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="front_wheel_hinge_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>10</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="front_wheel_rotate_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="front_wheel_rotate">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="front_wheel_rotate_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Links -->
    <link name="front_wheel"> 
        
        <!-- Collision part -->
        <collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
        </collision> 

        <!-- Visual part -->
        <visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
            <material name="black"/> 
        </visual> 		

        <!-- Inertial part -->
        <inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="1"/> 
            <cylinder_inertia mass="1" radius="0.2" height="0.1" />  
        </inertial> 

    </link>

    <link name="front_wheel_assembly">

        <!-- Collision part -->
        <collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.05" radius="0.1"/> 
            </geometry> 
        </collision> 

        <!-- Visual part -->
        <visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.05" radius="0.1"/> 
            </geometry> 
            <material name="white"/> 
        </visual> 		

        <!-- Inertial part -->
        <inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="0.2"/> 
            <cylinder_inertia mass="0.2" radius="0.1" height="0.5"/> 
        </inertial>
    </link>  

    <!-- Gazebo additional parameters -->
    <gazebo reference="front_wheel">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="2.5" />
        <mu2 value="2.5" />
        <kp value="10000000" />
        <kd value="10" />
    </gazebo>

    <gazebo reference="front_wheel_assembly">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="2.5" />
        <mu2 value="2.5" />
        <kp value="10000000" />
        <kd value="10" />
    </gazebo>



    <!-- Joints --> 
    <!--joint name="front_wheel_rotate" type="continuous"> 
        <parent link="body_link"/> 
        <child link="front_wheel"/> 
        <origin xyz="-0.8 0 -0.1" rpy="0 0 0" />  
        <axis xyz="0 1 0" rpy="0 0 0" /> 
        <dynamics damping="0.1"/> 
    </joint-->

    <!-- Transmissions -->
    <!--transmission name="front_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="front_wheel_rotate">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="front_wheel_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

    <!-- Links -->
    <!--link name="front_wheel"--> 
        
        <!-- Collision part -->
        <!--collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
        </collision--> 

        <!-- Visual part -->
        <!--visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
            <material name="black"/> 
        </visual--> 		

        <!-- Inertial part -->
        <!--inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="1"/> 
            <cylinder_inertia mass="1" radius="0.2" height="0.1" />  
        </inertial--> 

    <!--/link-->

    <!-- Gazebo additional parameters -->
    <!--gazebo reference="front_wheel">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="2.5" />
        <mu2 value="2.5" />
        <kp value="10000000" />
        <kd value="10" />
    </gazebo-->


    <!-- Joints --> 
    <!--joint name="right_front_wheel_rotate" type="continuous"> 
        <parent link="body_link"/> 
        <child link="right_front_wheel"/> 
        <origin xyz="0.3 -0.4 -0.3" rpy="0 0 0" />  
        <axis xyz="0 1 0" rpy="0 0 0" /> 
        <dynamics damping="0.1"/> 
    </joint-->

    <!-- Transmissions -->
    <!--transmission name="right_front_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_front_wheel_rotate">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_front_wheel_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

    <!-- Links -->
    <!--link name="right_front_wheel"--> 
        
        <!-- Collision part -->
        <!--collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
        </collision--> 

        <!-- Visual part -->
        <!--visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
            <material name="black"/> 
        </visual--> 		

        <!-- Inertial part -->
        <!--inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="1"/> 
            <cylinder_inertia mass="1" radius="0.2" height="0.1" />  
        </inertial--> 

    <!--/link-->

    <!-- Gazebo additional parameters -->
    <!--gazebo reference="right_front_wheel">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="200" />
        <mu2 value="100" />
        <kp value="10000000" />
        <kd value="1" />
    </gazebo-->

    <!-- Joints --> 
    <joint name="rear_wheel_rotate" type="continuous"> 
        <parent link="body_link"/> 
        <child link="rear_wheel"/> 
        <origin xyz="-0.7 0 -0.3" rpy="0 0 0" />  
        <axis xyz="0 1 0" rpy="0 0 0" /> 
        <!--limit effort="0.4" velocity="12"/--> 
        <dynamics damping="0.1"/> 
    </joint>

    <!-- Transmissions -->
    <transmission name="rear_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rear_wheel_rotate">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="rear_wheel_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Links -->
    <link name="rear_wheel"> 
        
        <!-- Collision part -->
        <collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
        </collision> 

        <!-- Visual part -->
        <visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
            <material name="black"/> 
        </visual> 		

        <!-- Inertial part -->
        <inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="1"/> 
            <cylinder_inertia mass="1" radius="0.2" height="0.1" />  
        </inertial> 

    </link>

    <!-- Gazebo additional parameters -->
    <gazebo reference="rear_wheel">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="200" />
        <mu2 value="100" />
        <kp value="10000000" />
        <kd value="1" />
    </gazebo>


    <!-- Joints --> 
    <!--joint name="right_rear_wheel_rotate" type="continuous"> 
        <parent link="body_link"/> 
        <child link="right_rear_wheel"/> 
        <origin xyz="-0.3 -0.4 -0.3" rpy="0 0 0" />  
        <axis xyz="0 1 0" rpy="0 0 0" /> 
        <dynamics damping="0.1"/> 
    </joint-->

    <!-- Transmissions -->
    <!--transmission name="right_rear_wheel_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_rear_wheel_rotate">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_rear_wheel_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

    <!-- Links -->
    <!--link name="right_rear_wheel"--> 
        
        <!-- Collision part -->
        <!--collision> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
        </collision--> 

        <!-- Visual part -->
        <!--visual> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <geometry> 
                <cylinder length="0.1" radius="0.2"/> 
            </geometry> 
            <material name="black"/> 
        </visual--> 		

        <!-- Inertial part -->
        <!--inertial> 
            <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" /> 
            <mass value="1"/> 
            <cylinder_inertia mass="1" radius="0.2" height="0.1" />  
        </inertial--> 

    <!--/link-->

    <!-- Gazebo additional parameters -->
    <!--gazebo reference="right_rear_wheel">
        <material>
            Gazebo/Red
        </material>
        <mu1 value="200" />
        <mu2 value="100" />
        <kp value="10000000" />
        <kd value="1" />
    </gazebo-->


    <!-- Gazebo plugins -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>

</robot>