<?xml version="1.0"?>
<launch>
	<!--
	Run amcl3d node
	for 3D localization usign LiDAR point cloud
	-->
	<include file="$(find amcl3d)/launch/amcl3d.launch">
		<!-- <arg name="map_name_path" value="$(find amcl3d)/data/map/map_2019-11-26.bt" /> -->
		<arg name="map_name_path" value="/home/hayashi/catkin_ws/src/test_map.bt" />
		<arg name="init_x" value="2.62246605422" />
		<arg name="init_y" value="1.79965136483" />
		<arg name="init_z" value="1.01354973057" />
		<arg name="init_a" value="-0.043" />
		<arg name="num_particles" value="600" />
		<arg name="alpha" value="0.5" />
		<arg name="take_off_height" value="0.5" />
	</include>
</launch>
