<?xml version="1.0"?>
<!--
Launch "scan matching odometry nodes" in HDL Graph SLAM
To estimate odometry
-->
<launch>
	<!-- arguments -->
	<arg name="use_nodelet_manager" default="false" doc="" />
	<arg name="nodelet_manager" default="manager" doc="" />
	<arg name="base_frame_id" default="base_link" doc="" />
	<arg name="points_topic" default="/velodyne_points" doc="" />
	<!--  -->
	<!-- prefiltering_nodelet -->
	<node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="load hdl_graph_slam/PrefilteringNodelet $(arg nodelet_manager)">
		<remap from="/velodyne_points" to="$(arg points_topic)" />
		<!-- in case base_link_frame is blank, mapping will be performed in the lidar frame -->
		<param name="base_link_frame" value="$(arg base_frame_id)" />
		<!-- distance filter -->
		<param name="use_distance_filter" value="true" />
		<param name="distance_near_thresh" value="0.1" />
		<param name="distance_far_thresh" value="20.0" />
		<!-- NONE, VOXELGRID, or APPROX_VOXELGRID -->
		<param name="downsample_method" value="VOXELGRID" />
		<param name="downsample_resolution" value="0.1" />
		<!-- NONE, RADIUS, or STATISTICAL -->
		<param name="outlier_removal_method" value="STATISTICAL" />
		<param name="statistical_mean_k" value="30" />
		<param name="statistical_stddev" value="1.0" />
		<param name="radius_radius" value="0.5" />
		<param name="radius_min_neighbors" value="2" />
	</node>
	<!--  -->
	<!-- scan_matching_odometry_nodelet -->
	<node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="load hdl_graph_slam/ScanMatchingOdometryNodelet $(arg nodelet_manager)">
		<param name="points_topic" value="/filtered_points" />
		<param name="odom_frame_id" value="odom" />
		<param name="keyframe_delta_trans" value="1.0" />
		<param name="keyframe_delta_angle" value="1.0" />
		<param name="keyframe_delta_time" value="3000.0" />
		<param name="transform_thresholding" value="false" />
		<param name="max_acceptable_trans" value="1.0" />
		<param name="max_acceptable_angle" value="1.0" />
		<param name="downsample_method" value="NONE" />
		<param name="downsample_resolution" value="0.05" />
		<!-- ICP, GICP, NDT, GICP_OMP, or NDT_OMP(recommended) -->
		<param name="registration_method" value="GICP_OMP" />
		<param name="transformation_epsilon" value="0.01" />
		<param name="maximum_iterations" value="64" />
		<param name="use_reciprocal_correspondences" value="false" />
		<param name="gicp_correspondence_randomness" value="20" />
		<param name="gicp_max_optimizer_iterations" value="20" />
		<param name="ndt_resolution" value="5.0" />
		<param name="ndt_num_threads" value="0" />
		<param name="ndt_nn_search_method" value="DIRECT7" />
	</node>
</launch>
