<!-- AMCL launch file (localization) -->

<launch>
    <!-- Topic where sensor data is published -->
    <arg name="scan_topic" default="/scan"/>

    <!-- Robot's initial pose -->
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>

    <!-- AMCL3D (for lidar) -->
    <!-- <node pkg="amcl3d" type="amcl3d_node" name="amcl3d">
        <param name="base_frame_id" value="base_link"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="global_frame_id" value="map"/>
        <param name="map_path" value="$(find my_package)/maps/mirais_map.pgm"/>
        <param name="set_initial_pose" value="false"/>
        <param name="init_x" value="0"/>
        <param name="init_y" value="0"/>
        <param name="init_z" value="0"/>
        <param name="init_a" value="0"/>
        <param name="init_x_dev" value="0"/>
        <param name="init_y_dev" value="0"/>
        <param name="init_z_dev" value="0"/>
        <param name="init_a_dev" value="0"/>
        <param name="publish_point_cloud_rate" value="10"/>
        <param name="grid_slice_z" value="0"/>
        <param name="publish_grid_slice_rate" value="0"/>
        <param name="sensor_dev" value="0"/>
        <param name="sensor_range" value="0"/>
        <param name="voxel_size" value="1"/>
        <param name="num_particles" value="1000"/>
        <param name="odom_x_mod" value="0"/>
        <param name="odom_y_mod" value="0"/>
        <param name="odom_z_mod" value="0"/>
        <param name="odom_a_mod" value="0"/>
        <param name="resample_interval" value="1"/>
        <param name="update_rate" value="1"/>
        <param name="d_th" value="0"/>
        <param name="a_th" value="0"/>
        <param name="take_off_height" value="1"/>
        <param name="alpha" value="1"/>

    </node> -->

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/velodyne_points" />
        <remap from="scan" to="$(arg scan_topic)" />
    </node>

    <!-- AMCL (for laser finder) -->
    <node pkg="amcl" type="amcl" name="amcl">
        <!-- Particle filter parameters -->
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="3000"/>
        <param name="kld_err" value="0.02"/>
        <param name="update_min_d" value="0.20"/>
        <param name="update_min_a" value="0.20"/>
        <param name="resample_interval" value="1"/>

        <!-- Max time (in seconds) between tf time stamp and sim time -->
        <param name="transform_tolerance" value="5"/>

        <param name="recovery_alpha_slow" value="0.00"/>
        <param name="recovery_alpha_fast" value="0.00"/>

        <!-- Robot's initial pose -->
        <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a" value="$(arg initial_pose_a)"/>

        <param name="gui_publish_rate" value="40.0"/>

        <!-- Sensor data parameters -->
        <remap from="scan" to="$(arg scan_topic)"/>
        <param name="laser_max_range" value="3.5"/>
        <param name="laser_max_beams" value="180"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.5"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="laser_model_type" value="likelihood_field"/>

        <!-- Odometry parameters -->
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha1" value="0.1"/>
        <param name="odom_alpha2" value="0.1"/>
        <param name="odom_alpha3" value="0.1"/>
        <param name="odom_alpha4" value="0.1"/>

        <!-- What is it ? -->
        <!-- <param name="use_map_topic" value="true" /> -->

        <!-- Odom, base and global frame ids -->
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="global_frame_id" value="map"/>

    </node>
</launch>