<?xml version="1.0"?>
<launch>
	<include file="$(find soma_bringup)/launch/wheel_odometry.launch">
	</include>
	<node name="ekf_gyrodometry" pkg="robot_localization" type="ekf_localization_node">
		<rosparam command="load" file="$(find soma_bringup)/config/ekf_gyrodometry.yaml" />
	</node>
</launch>
