<?xml version="1.0"?>
<launch>
  <node pkg="nmea_navsat_driver" name="nmea_serial_driver" type="nmea_serial_driver" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="38400" />
    <param name="frame_id" value="gps" />
  </node>
  <node pkg="soma_bringup" name="convert_gps_frameid" type="convert_gps_frameid.py" output="screen">
  </node>
</launch>