<?xml version="1.0"?>
<launch>
  <arg name="enable_front" default="true"/>
  <arg name="enable_rear" default="true"/>
  <group if="$(arg enable_front)" ns="camera_f">
    <include file="$(find soma_bringup)/launch/realsense.launch">
      <arg name="serial_no" value="939622073512" />
      <arg name="tf_prefix" value="camera_f" />
      <arg name="scan_frame_id" value="camera_f_mount_link"/>
      <arg name="scan_min_height" value="-0.5"/>
      <arg name="scan_max_height" value="0.5"/>

    </include>
  </group>
  <group if="$(arg enable_rear)" ns="camera_r">
    <include file="$(find soma_bringup)/launch/realsense.launch">
      <arg name="serial_no" value="843112071843" />
      <arg name="tf_prefix" value="camera_r" />
      <arg name="scan_frame_id" value="camera_r_mount_link"/>
      <arg name="scan_min_height" value="-0.3"/>
      <arg name="scan_max_height" value="1.0"/>
    </include>
  </group>
</launch>