<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="false"/>
  <arg name="namespace" default="/"/>

  <!-- Load robot description -->
  <include file="$(find soma_description)/launch/description.launch" >
  </include>

  <!-- Spawn controllers -->
  <!-- Load controllers (joint state & driving) -->
	<rosparam command="load" file="$(find soma_description)/config/simple_controllers/joint_state_controller.yaml" ns="$(arg namespace)" />
	<rosparam command="load" file="$(find soma_description)/config/driving_controllers/differential/diff_drive_controller.yaml" ns="$(arg namespace)" />
	<rosparam command="load" file="$(find soma_description)/config/driving_controllers/ackermann/ackermann_steering_controller.yaml" ns="$(arg namespace)" />
	<rosparam command="load" file="$(find soma_description)/config/driving_controllers/ackermann/ackermann_gains.yaml" ns="$(arg namespace)" />
	<rosparam command="load" file="$(find soma_description)/config/driving_controllers/ackermann/steer_bot_hardware_gazebo.yaml" ns="$(arg namespace)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" value="50.0" />
	</node>

</launch>
