<?xml version="1.0"?>
<launch>
	<!--  -->
	<node name="joy_node" pkg="joy" type="joy_node" output="screen" />
	<!--  -->
	<node name="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" output="screen">
		<remap from="/cmd_vel" to="/joy_teleop/cmd_vel" />
		<param name="scale_linear" value="1.0" />
		<param name="scale_angular" value="0.52" />
	</node>
</launch>
